<%- include('header') %>
     <%- include('header1') %>

          <body>


               <h1 style="text-align:center">About Us</h1>
               <p style="padding:50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni
                    accusantium, alias incidunt
                    aut perspiciatis beatae sequi libero, enim dolores voluptatum nostrum nobis dolore minima culpa.
                    Laboriosam quis perferendis possimus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis libero saepe quas officiis
                    earum, expedita nulla aspernatur voluptatum quod, rem, et consequuntur. Eius corrupti ea doloremque
                    ex iure nisi unde?
               </p>
          </body>
          <%- include('footer') %>